<!DOCTYPE html>
<html lang="en">
<!--Header-->
<%- include('layout/header');-%>

    <body>
        <!-- Navigation-->
        <%- include('layout/navbar')-%>
            <!-- Page Header-->
            <header class="masthead">
                <div class="container position-relative px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="page-heading">
                                <h1> Appointment </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <main>
                <div class="container">
                    <form id="appointment" action="/create/Appointment" method="post">
                        <div class="form-group">
                            <input type="hidden" name="date" id="date">
                            <label for="date">Date:</label>
                            <div id='calendar'></div>
                        </div>
                        <div class="form-group">
                            <label for="time">Time:</label>
                            <div class="input-group date" id="timePicker" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" name="time" id="time"
                                    data-target="#timePicker" required>
                                <div class="input-group-append" data-target="#timePicker" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                                </div>
                                <input type="text" class="form-control datetimepicker-input" name="showTime"
                                    id="showTime" data-target="#timePicker" required readonly>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Book Appointment</button>
                    </form>
                </div>
            </main>
            <!-- Footer-->
            <%- include('layout/footer')-%>
                <!--sCRIPTS-->
                <%- include('layout/script')-%>
    </body>

</html>